<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <h4 style="font-weight: 100;">Add a comment about... <br><br><i>"{{data.title}}":</i></h4>
            <br>
            <br>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="commentText" class="materialize-textarea"></textarea>
                        <br>
                        <button class="submitComment" data-id={{data._id}}>Submit</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h4 style="font-weight: 100;">Other comments about this article: <br><br><i>"{{data.comment.body}}"</i></h4>
    </div>
</div>
